### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
csv_file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(csv_file)

In [2]:
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
16,16,Lisirra25,20,Male,40,Second Chance,2.52
17,17,Zontibe81,21,Male,161,Devine,1.76
18,18,Reunasu60,22,Female,82,Nirvana,4.90
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
23,23,Eyrian71,40,Male,151,Severance,3.40
24,24,Siala43,30,Male,141,Persuasion,3.19
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
26,26,Lirtossa84,11,Male,71,Demise,1.61
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16
...,...,...,...,...,...,...,...
750,750,Iljask75,22,Male,167,"Malice, Legacy of the Queen",3.61
751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36
752,752,Mindjasksya61,17,Male,112,Worldbreaker,2.60
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
754,754,Pheosurllorin41,23,Female,79,"Alpha, Oath of Zeal",4.05
755,755,Raesty92,12,Male,76,Haunted Bronzed Bludgeon,3.15
756,756,Ilast79,20,Male,73,Ritual Mace,2.05
757,757,Eratiel90,18,Male,57,"Despair, Favor of Due Diligence",4.60
758,758,Iral74,21,Male,182,Toothpick,4.03
759,759,Tyaelorap29,25,Male,72,Winter's Bite,3.77
760,760,Aithelis62,21,Male,44,Bonecarvin Battle Axe,2.38
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70
762,762,Asur53,26,Male,110,Suspension,1.44
763,763,Lassilsala30,21,Male,85,Malificent Bag,1.75
764,764,Saedaiphos46,18,Male,113,Solitude's Reaver,4.07
765,765,Irith83,18,Male,130,Alpha,2.07
766,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14
767,767,Ilmol66,8,Female,92,Final Critic,4.88
768,768,Assassasta79,38,Male,92,Final Critic,4.88
769,769,Ilosian36,15,Male,145,Fiery Glass Crusader,4.58
770,770,Lirtosia63,34,Male,12,Dawne,1.02
771,771,Iskossasda43,16,Male,25,Hero Cane,4.35
772,772,Asur53,26,Male,136,Ghastly Adamantite Protector,3.58
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,101,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [3]:
#Display total number of players
unique_players = purchase_data["SN"].unique()
unique_players

array(['Lisim78', 'Lisovynya38', 'Ithergue48', 'Chamassasya86',
       'Iskosia90', 'Yalae81', 'Itheria73', 'Iskjaskst81', 'Undjask33',
       'Chanosian48', 'Inguron55', 'Haisrisuir60', 'Saelaephos52',
       'Assjaskan73', 'Saesrideu94', 'Lisassa64', 'Lisirra25',
       'Zontibe81', 'Reunasu60', 'Chamalo71', 'Iathenudil29',
       'Phiarithdeu40', 'Siarithria38', 'Eyrian71', 'Siala43',
       'Lisirra87', 'Lirtossa84', 'Eusri44', 'Aela59', 'Tyida79',
       'Idai61', 'Farusrian86', 'Aeralria27', 'Haillyrgue51', 'Sondim73',
       'Jeyciman68', 'Idaisuir85', 'Seuthep89', 'Reulae52',
       'Sondilsaya62', 'Aerithriaphos45', 'Assosia88', 'Aidaillodeu39',
       'Aelly27', 'Tyeosri53', 'Haerith37', 'Yasrisu92', 'Chanuchi25',
       'Asur96', 'Iaralrgue74', 'Chanosia34', 'Aelin32', 'Ilosianya35',
       'Zhisrisu83', 'Phaelap26', 'Raesty92', 'Palyon91', 'Tyisur83',
       'Yaliru88', 'Yadanu52', 'Jiskimya77', 'Yadaphos40', 'Alo38',
       'Phaena87', 'Chamirraya83', 'Chanastsda67', 'Indonmol95',
       'Jiskossa61', 'Pheodai94', 'Hari50', 'Marilsa69', 'Assistasda42',
       'Lisosia93', 'Philodil43', 'Mindadaran26', 'Lirtosia63',
       'Assjaskan56', 'Irithlis29', 'Heudai45', 'Haerithp41', 'Aina42',
       'Jiskjask60', 'Umolrian85', 'Qarirwen82', 'Laedallo55',
       'Eoralrap26', 'Undosian34', 'Chadolyla44', 'Chadistaya75',
       'Yathedeu43', 'Aina43', 'Ilassast39', 'Lisassala98', 'Aiduecal76',
       'Chadossa89', 'Pheodaisun84', 'Heollyriap59', 'Maropast28',
       'Frichim77', 'Thryallym62', 'Eulanurin88', 'Lassjaskan73',
       'Tyaerith73', 'Sondadarya58', 'Hirirap39', 'Ririp86', 'Sundim98',
       'Iskichinya81', 'Phyali88', 'Undirrala66', 'Nitherian58',
       'Lassilsala30', 'Frichaststa61', 'Frichosia58', 'Ilosia37',
       'Lisista27', 'Seudaillorap38', 'Aesty53', 'Yathecal82',
       'Lisossanya98', 'Iral74', 'Lisast87', 'Maridisya31', 'Jiskassa76',
       'Ethriel85', 'Iskirra45', 'Iri67', 'Rarallo90', 'Lisasi93',
       'Adastirin33', 'Eyista89', 'Ili43', 'Chamirra53', 'Hailaphos89',
       'Iskadarya95', 'Qilatista90', 'Inasti31', 'Marilsanya48',
       'Marjask87', 'Chanjaskan89', 'Hyaduesu61', 'Aillyrin83',
       'Marast30', 'Sundadar27', 'Tyaelorap29', 'Lirtimst73',
       'Styaduen40', 'Sidap51', 'Chanastst38', 'Lirtassa52', 'Sondim68',
       'Aeral97', 'Heosurnuru52', 'Lisopela58', 'Caesrinusuir82',
       'Tyirinu79', 'Fironon91', 'Lassjask63', 'Indcil77', 'Chamimla73',
       'Syathe73', 'Baelollodeu94', 'Mindista32', 'Saena74',
       'Marirrasta50', 'Lamil79', 'Aenarap34', 'Aisur51', 'Thrientossa55',
       'Chadista79', 'Tyeurith29', 'Malunil62', 'Hiasri33', 'Lisadar44',
       'Frichjask31', 'Lisjaskya84', 'Ristydru66', 'Frichast28',
       'Minduri31', 'Maradaran90', 'Mindetosya30', 'Ialallo29',
       'Pheusrical25', 'Chanosia60', 'Phistym51', 'Aelollo59',
       'Chamimla85', 'Haisurra41', 'Sondastsda82', 'Qilanrion65',
       'Eulasuir89', 'Eosrirgue62', 'Shaidanu32', 'Lirtastan49',
       'Iaralsuir44', 'Tyeudariasuir90', 'Cosadar58', 'Aelastirin39',
       'Aidai53', 'Jiskjask85', 'Ealrion88', 'Chamjask73', 'Tyaenasti87',
       'Alim85', 'Haeladil46', 'Jiskirran77', 'Undosia27', 'Peorith44',
       'Yarithsurgue62', 'Taeduenu92', 'Rairin89', 'Aerithriaphos46',
       'Idairin51', 'Lisista54', 'Eodailis27', 'Lirtastsda29',
       'Undilsan50', 'Eodaisu60', 'Quaranmol58', 'Lirtossa60',
       'Lirtilsa71', 'Isursuir31', 'Sundirrala66', 'Saerallora71',
       'Iasur80', 'Tyaelo67', 'Quanunwen42', 'Yasur35', 'Assehoan67',
       'Haellysu29', 'Saida58', 'Chamadar79', 'Aeral43', 'Lirtirra37',
       'Tyidaim51', 'Lassassast73', 'Assassasta79', 'Heollyra92',
       'Anallorgue57', 'Aerithllora36', 'Smaistysu35', 'Ennalmol65',
       'Yarithrgue83', 'Yana46', 'Sondimla25', 'Aidai61', 'Wailin72',
       'Firan91', 'Alaesu91', 'Aellynun67', 'Rilaera56', 'Eulaestira36',
       'Marim28', 'Idastidru52', 'Ilirrasda54', 'Alaephos75',
       'Syalollorap93', 'Minduli80', 'Chanastya70', 'Frichadaran88',
       'Siallylis44', 'Aeri84', 'Iasursti71', 'Mindilsa34', 'Chamastya76',
       'Undirra73', 'Aestysu37', 'Chadadarla74', 'Strithenu87',
       'Iasrira89', 'Ialidru40', 'Tyalaesu89', 'Tyidainu31', 'Lirtilsa72',
       'Undjaskla97', 'Saedaiphos46', 'Aerithnucal56', 'Lisossa46',
       'Layjask75', 'Lisista63', 'Ceoral34', 'Hilaerin92',
       'Chadilsasta32', 'Undassa89', 'Iduenu77', 'Lisosia66',
       'Undimsya85', 'Phaedue89', 'Yadacal26', 'Lisossa25', 'Ilmol66',
       'Yastyriaphos75', 'Hiasurria41', 'Palatyon26', 'Qilalista41',
       'Hada39', 'Chamilsala65', 'Rairith81', 'Ilarin91', 'Ryanara76',
       'Undista85', 'Tyeoralru41', 'Pheosrinudeu70', 'Heuli25',
       'Pheutherin27', 'Chadirra90', 'Ali84', 'Frichjaskan98', 'Malil90',
       'Yarithllodeu72', 'Tyaedainu44', 'Ethron58', 'Eusurdeu49',
       'Saistyphos30', 'Saisrilis27', 'Hallysucal81', 'Ilimya66',
       'Raysistast71', 'Haedairiadru51', 'Tyananurgue44', 'Risty84',
       'Aerillorin70', 'Phistyn52', 'Yalo85', 'Chamirrasya33', 'Hiral75',
       'Isursti83', 'Bartassaya73', 'Aeda94', 'Quinarap53', 'Asur53',
       'Alarap40', 'Sida61', 'Hiarideu73', 'Lassassasda30', 'Ennoncil86',
       'Siralsudeu54', 'Eusri26', 'Ardcil81', 'Marilsasya33', 'Lirtim36',
       'Heunadil74', 'Frichadar89', 'Aesurstilis64', 'Idaidil28',
       'Lisotesta51', 'Lisico81', 'Lisiriya82', 'Siana77', 'Marokian45',
       'Sausosia74', 'Assesi91', 'Eusri70', 'Aisurria69', 'Iarilis73',
       'Raisty38', 'Ilista82', 'Leyirra83', 'Aiduesu86', 'Frichynde86',
       'Hisridru55', 'Chamossa77', 'Irillo49', 'Lirtastsya71',
       'Frichosiala98', 'Qilunan34', 'Quarrion42', 'Aisurdru79',
       'Hiaral50', 'Iarallo65', 'Sondassasya91', 'Chanossast57',
       'Chanjask65', 'Ethralista69', 'Sondistanya61', 'Eudanu32',
       'Euthe35', 'Lassimla92', 'Lisossala30', 'Eulae84', 'Chamadarnya73',
       'Eolan54', 'Assistasda90', 'Ennrian78', 'Undirrasta89',
       'Rianistast50', 'Undare39', 'Adairialis76', 'Aesur96',
       'Tyialisudeu65', 'Arirgue63', 'Sundadarla27', 'Eyircil84', 'Ina92',
       'Lirtistanya48', 'Marassa62', 'Mindossa76', 'Salilis27',
       'Sondossa69', 'Sundjask71', 'Errian63', 'Eurithphos97',
       'Raillydeu47', 'Malon70', 'Jiskimsda56', 'Marughi89', 'Ingatcil75',
       'Chanirrasta87', 'Alaesu77', 'Ermol76', 'Tyeuduen32', 'Firon67',
       'Iadueria43', 'Pheulidil31', 'Eodairu79', 'Frichocesta66',
       'Thourdirra92', 'Chanastnya43', 'Iskim96', 'Eulolis41',
       'Sastydeu50', 'Ilaesudil92', 'Yasur85', 'Aidain51',
       'Aerithnuphos61', 'Yalostiphos68', 'Meosridil82', 'Aillyriadru65',
       'Sally64', 'Lisim51', 'Isurria36', 'Silaera56', 'Leetirraya83',
       'Lirtirra81', 'Eryon48', 'Iana95', 'Sondassan80', 'Chanadar44',
       'Eosurdru76', 'Shidai42', 'Aesri53', 'Syally44', 'Jiskadarst60',
       'Sondadar26', 'Malarrian73', 'Maluncil97', 'Ilunyon70', 'Yadam35',
       'Dyally87', 'Pheosurllorin41', 'Frichaya88', 'Lassadarsda57',
       'Marynde90', 'Isri34', 'Assastnya25', 'Ardonmol96',
       'Lassirrasda85', 'Chadossa56', 'Poshilsa82', 'Yoishirrala98',
       'Sundista37', 'Ilassa51', 'Filurarn35', 'Phaestycal84', 'Irilis75',
       'Aeralstical35', 'Chanirrala39', 'Chanirra79', 'Assirra56',
       'Seolollo93', 'Iathem87', 'Iasurriacal29', 'Lisast98', 'Filrion59',
       'Halaecal66', 'Iskosian40', 'Ilastilis78', 'Seosrim97',
       'Farrian71', 'Rithe53', 'Frichossala54', 'Chamjaskya75',
       'Quanrion96', 'Tyaelaelis94', 'Quanenrian83', 'Chanirra64',
       'Yadaisuir65', 'Syathecal44', 'Arin32', 'Aelaria33', 'Assassa81',
       'Filrion83', 'Eoral49', 'Airi27', 'Eurisuru25', 'Liawista80',
       'Lisirra58', 'Chamadarsda63', 'Haestyphos66', 'Phaedasurap84',
       'Mindimnya67', 'Chadjask85', 'Eustyria89', 'Iskim66', 'Chamast86',
       'Lirtassan78', 'Ethrasyon38', 'Quilassa66', 'Lisassasda39',
       'Mindilsa60', 'Lalossa38', 'Chamistast30', 'Hariphos58',
       'Assilsan72', 'Inasuir29', 'Chanilsasda38', 'Mindesi74',
       'Ililsan66', 'Idacal95', 'Aeral68', 'Tyarithn67', 'Asty82',
       'Yalaeria91', 'Chadjask77', 'Ealiril69', 'Quaecjask96',
       'Firatan58', 'Yarolwen77', 'Tyaelistidru84', 'Yarithrin84',
       'Tyaelly53', 'Phiristi62', 'Ililsasya43', 'Aithelis62',
       'Undotesta33', 'Aelidru27', 'Chanossanya44', 'Maradarnya40',
       'Lisilsa62', 'Saena89', 'Chanilsast61', 'Sundassa93', 'Aidai73',
       'Indirrian56', 'Lisassasta50', 'Iduelis31', 'Chanosiaya39',
       'Assylla81', 'Aidaira26', 'Eudanu84', 'Chamiman85', 'Tyialisti80',
       'Marundi65', 'Eusur90', 'Mindirranya33', 'Phiallylis33', 'Isty55',
       'Frichilsa31', 'Chanista95', 'Aellyria80', 'Rastynusuir31',
       'Iljask75', 'Lisjaskan36', 'Mindjasksya61', 'Frichirranya75',
       'Ilast79', 'Eratiel90', 'Assim27', 'Irith83', 'Ilosian36',
       'Iskossasda43', 'Hala31', 'Jiskjask80', 'Aethedru70', 'Yathecal72',
       'Sisur91'], dtype=object)

In [4]:
#Count of unique players 
total_players = pd.DataFrame(unique_players).count()

#Calling Column total players
totalplayers = pd.DataFrame(total_players, columns = ['Total Players'])
totalplayers

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Unique items using unique() function & count
unique_items = purchase_data["Item Name"].unique()
unique_items
total_unique_items = pd.DataFrame(unique_items).count()
total_unique_items

0    179
dtype: int64

In [6]:
# Avaerage Price Calcualtions
average_price = purchase_data['Price'].mean()
format_average_price = '{0:.2f}'.format((average_price))

In [7]:
# Total Purchase Price, sum of Price
total_purchases = purchase_data['Price'].sum()
total_purchases

2379.77

In [8]:
# Count of Purchases
total_items = purchase_data["Item Name"].count()

In [9]:
#Store those baller varibles in a Dictionary
purchase_data_analytsis = {'Total Items': total_items,
                           'Unique Items': total_unique_items,
                          'Average Price': '$'+ format_average_price,
                          'Total Price': '$' + str(total_purchases)}

# Load them cool ass Dictionary into a DataFrame  
purchase_data_analysis_df = pd.DataFrame(purchase_data_analytsis)
purchase_data_analysis_df

   Total Items  Unique Items Average Price Total Price
0          780           179         $3.05    $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [10]:
# Total Players
total_players = purchase_data['Gender'].count()
total_players

780

In [11]:
# What are my options in Gender
purchase_data['Gender'].value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [12]:
# Dudes Players
dude_players = (purchase_data['Gender']=='Male').sum()
dude_players

652

In [13]:
# Lady Players 
lady_players = (purchase_data['Gender']=='Female').sum()
lady_players

113

In [14]:
# Gender Neuteral Players
other_players = (purchase_data['Gender'] =='Other / Non-Disclosed').sum()
other_players

15

In [15]:
dude_percentage = '{0:.1f}'.format((dude_players/total_players*100)) + '%'
dude_percentage

'83.6%'

In [16]:
lady_percentage = '{0:.1f}'.format((lady_players/total_players*100)) + '%'
lady_percentage

'14.5%'

In [17]:
other_percentage = '{0:.1f}'.format((other_players/total_players*100)) + '%'
other_percentage

'1.9%'

In [18]:
# Push Data into Dictionary 
gender_dma = {'Gender': ['Male', 'Female', 'Other'], 'Total Count': [dude_players, lady_players, other_players], 'Percentage of Players': [dude_percentage,lady_percentage, other_percentage]}
gender_dma

{'Gender': ['Male', 'Female', 'Other'],
 'Total Count': [652, 113, 15],
 'Percentage of Players': ['83.6%', '14.5%', '1.9%']}

In [19]:
#Push datas into dataframe
gender_dma_df = pd.DataFrame(gender_dma)
gender_dma_df

   Gender  Total Count Percentage of Players
0    Male          652                 83.6%
1  Female          113                 14.5%
2   Other           15                  1.9%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [20]:
gender_as_index = purchase_data.set_index(['Gender'])
gender_as_index
group_by_gender = gender_as_index.groupby(['Gender'])
group_by_gender.head()

,Purchase ID,SN,Age,Item ID,Item Name,Price
Gender,,,,,,
Male,0,Lisim78,20,108,"Extraction, Quickblade Of Trembling Hands",3.53
Male,1,Lisovynya38,40,143,Frenzied Scimitar,1.56
Male,2,Ithergue48,24,92,Final Critic,4.88
Male,3,Chamassasya86,24,100,Blindscythe,3.27
Male,4,Iskosia90,23,131,Fury,1.44
Other / Non-Disclosed,9,Chanosian48,35,136,Ghastly Adamantite Protector,3.58
Female,15,Lisassa64,21,98,"Deadline, Voice Of Subtlety",2.89
Female,18,Reunasu60,22,82,Nirvana,4.90
Other / Non-Disclosed,22,Siarithria38,38,24,Warped Fetish,3.81
Female,38,Reulae52,10,116,Renewed Skeletal Katana,4.18
Female,41,Assosia88,20,7,"Thorn, Satchel of Dark Souls",1.33
Female,55,Phaelap26,25,84,Arcane Gem,3.79
Other / Non-Disclosed,82,Haerithp41,16,160,Azurewrath,4.40
Other / Non-Disclosed,111,Sundim98,21,41,Orbit,4.75
Other / Non-Disclosed,228,Jiskirran77,20,80,Dreamsong,3.39

In [21]:
#Describe the datas
group_by_gender.describe()

                      Purchase ID                                        \
                            count        mean         std   min     25%
Gender
Female                      113.0  379.380531  211.605484  15.0  199.00
Male                        652.0  392.516871  227.516414   0.0  193.75
Other / Non-Disclosed        15.0  334.600000  234.524991   9.0  169.50

                                               Age             ...  Item ID  \
                         50%     75%    max  count       mean  ...      75%
Gender                                                         ...
Female                 392.0  558.00  775.0  113.0  21.345133  ...    129.0
Male                   390.5  592.25  779.0  652.0  22.917178  ...    141.0
Other / Non-Disclosed  291.0  516.50  747.0   15.0  24.200000  ...    141.0

                              Price                                          \
                         max  count      mean       std   min     25%   50%
Gender
Female                 183.0  113.0  3.203009  1.158194  1.00  2.2800  3.45
Male                   183.0  652.0  3.017853  1.175625  1.00  1.9625  3.09
Other / Non-Disclosed  163.0   15.0  3.346000  0.883813  1.33  3.1000  3.45


                         75%   max
Gender
Female                 4.230  4.90
Male                   4.080  4.99
Other / Non-Disclosed  3.875  4.75

[3 rows x 32 columns]

In [22]:
# Purchase Counts by Gender
purchase_count_gender = group_by_gender['SN'].count()
purchase_count_gender

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: SN, dtype: int64

In [23]:
# Purchase Counts by User by Gender
purchase_count_gender_unique = group_by_gender['SN'].nunique()
purchase_count_gender_unique

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [24]:
# Total Purchases by Gender and format float 64 into float 2 and add $
purchase_price_dma = group_by_gender['Price'].sum()
format_purchase_price_dma = purchase_price_dma.map("${0:,.2f}".format)
format_purchase_price_dma

Gender
Female                     $361.94
Male                     $1,967.64
Other / Non-Disclosed       $50.19
Name: Price, dtype: object

In [25]:
# Average purchase price 
# Total Purchases by Gender and format float 64 into float 2 and add $
avg_purchase_count_dma = group_by_gender['Price'].mean()
format_avg_purchase_count_dma = avg_purchase_count_dma.map("${0:,.2f}".format)
format_avg_purchase_count_dma

Gender
Female                   $3.20
Male                     $3.02
Other / Non-Disclosed    $3.35
Name: Price, dtype: object

In [26]:
# Avg Purchase Price per person by Gender and format float 64 into float 2 and add $
average_purchase_price = purchase_price_dma / purchase_count_gender
format_average_purchase_price = average_purchase_price.map("${0:,.2f}".format)
format_average_purchase_price

Gender
Female                   $3.20
Male                     $3.02
Other / Non-Disclosed    $3.35
dtype: object

In [27]:
#avg purchase per user 
avg_purchase_count = purchase_count_gender/purchase_count_gender_unique
avg_purchase_count
format_avg_purchase_count = avg_purchase_count.map("{0:,.1f}".format)
format_avg_purchase_count

Gender
Female                   1.4
Male                     1.3
Other / Non-Disclosed    1.4
Name: SN, dtype: object

In [28]:
#Display the summary data frame
#Load variables into Dictionary 

gender_analysis = {'count of purchases': purchase_count_gender,'unique users': purchase_count_gender_unique,'avg # of purchases':format_avg_purchase_count, 'avg. purchase price': format_avg_purchase_count_dma,'avg. purchase total per person': format_average_purchase_price }

gender_analysis

{'count of purchases': Gender
 Female                   113
 Male                     652
 Other / Non-Disclosed     15
 Name: SN, dtype: int64, 'unique users': Gender
 Female                    81
 Male                     484
 Other / Non-Disclosed     11
 Name: SN, dtype: int64, 'avg # of purchases': Gender
 Female                   1.4
 Male                     1.3
 Other / Non-Disclosed    1.4
 Name: SN, dtype: object, 'avg. purchase price': Gender
 Female                   $3.20
 Male                     $3.02
 Other / Non-Disclosed    $3.35
 Name: Price, dtype: object, 'avg. purchase total per person': Gender
 Female                   $3.20
 Male                     $3.02
 Other / Non-Disclosed    $3.35
 dtype: object}

In [29]:
#Push Dictionary into Dataframe
gender_analysis_df = pd.DataFrame(gender_analysis)
gender_analysis_df

,count of purchases,unique users,avg # of purchases,avg. purchase price,avg. purchase total per person
Gender,,,,,
Female,113,81,1.4,$3.20,$3.20
Male,652,484,1.3,$3.02,$3.02
Other / Non-Disclosed,15,11,1.4,$3.35,$3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [30]:
# Establish bins for ages
# Find max and min of age 
max_age = purchase_data['Age'].max()
min_age = purchase_data['Age'].min()

print(min_age)
print(max_age)

7
45

In [31]:
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 46]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [32]:
age_bin = pd.cut(purchase_data["Age"], bins, labels=group_names)
age_bin

0      20-24
1        40+
2      20-24
3      20-24
4      20-24
5      20-24
6      35-39
7      20-24
8      20-24
9      35-39
10     20-24
11     20-24
12     20-24
13     20-24
14     35-39
15     20-24
16     20-24
17     20-24
18     20-24
19     30-34
20     20-24
21     20-24
22     35-39
23       40+
24     30-34
25     25-29
26     10-14
27       <10
28     20-24
29     20-24
       ...
750    20-24
751    10-14
752    15-19
753    35-39
754    20-24
755    10-14
756    20-24
757    15-19
758    20-24
759    25-29
760    20-24
761      40+
762    25-29
763    20-24
764    15-19
765    15-19
766    20-24
767      <10
768    35-39
769    15-19
770    30-34
771    15-19
772    25-29
773    20-24
774    10-14
775    20-24
776    20-24
777    20-24
778      <10
779    20-24
Name: Age, Length: 780, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [33]:
age_bins_df = pd.DataFrame(age_bin)
age_bins_df

       Age
0    20-24
1      40+
2    20-24
3    20-24
4    20-24
5    20-24
6    35-39
7    20-24
8    20-24
9    35-39
10   20-24
11   20-24
12   20-24
13   20-24
14   35-39
15   20-24
16   20-24
17   20-24
18   20-24
19   30-34
20   20-24
21   20-24
22   35-39
23     40+
24   30-34
25   25-29
26   10-14
27     <10
28   20-24
29   20-24
..     ...
750  20-24
751  10-14
752  15-19
753  35-39
754  20-24
755  10-14
756  20-24
757  15-19
758  20-24
759  25-29
760  20-24
761    40+
762  25-29
763  20-24
764  15-19
765  15-19
766  20-24
767    <10
768  35-39
769  15-19
770  30-34
771  15-19
772  25-29
773  20-24
774  10-14
775  20-24
776  20-24
777  20-24
778    <10
779  20-24

[780 rows x 1 columns]

In [34]:
# group data by bins
group_by_age_bins = age_bins_df.groupby("Age")
group_by_age_bins.head()

       Age
0    20-24
1      40+
2    20-24
3    20-24
4    20-24
5    20-24
6    35-39
9    35-39
14   35-39
19   30-34
22   35-39
23     40+
24   30-34
25   25-29
26   10-14
27     <10
30   15-19
31   35-39
32   10-14
33     <10
34   15-19
36   30-34
37     <10
38   10-14
42   15-19
46   25-29
49   30-34
53   30-34
54   10-14
55   25-29
56   10-14
59   15-19
61   15-19
65   25-29
70   25-29
78     <10
81     <10
156    40+
220    40+
248    40+

In [35]:
# count of age bins
count_age_bins = group_by_age_bins["Age"].count()
count_age_bins

Age
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Age, dtype: int64

In [36]:
count_age_bins_df = pd.DataFrame(count_age_bins)
count_age_bins_df

       Age
Age
<10     23
10-14   28
15-19  136
20-24  365
25-29  101
30-34   73
35-39   41
40+     13

In [37]:
all_users = purchase_data["Age"].count()
all_users

780

In [38]:
percentage_bins = count_age_bins / all_users*100
percentage_bins
format_percentage_bins = percentage_bins.map("{0:,.1f}%".format)
format_percentage_bins

Age
<10       2.9%
10-14     3.6%
15-19    17.4%
20-24    46.8%
25-29    12.9%
30-34     9.4%
35-39     5.3%
40+       1.7%
Name: Age, dtype: object

In [39]:
# Put it in a data frame
format_percentage_bins_df = pd.DataFrame(format_percentage_bins)

#Rename Column
format_percentage_bins_df.rename(columns={"Age" :"% Players"})

      % Players
Age
<10        2.9%
10-14      3.6%
15-19     17.4%
20-24     46.8%
25-29     12.9%
30-34      9.4%
35-39      5.3%
40+        1.7%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [40]:
#Add Ranges to purchase data 
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins, labels = group_names)

In [41]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [42]:
# group by Age Range 
age_purchase_data = purchase_data.groupby(['Age Range'])

In [43]:
#purchase count
purchase_count = age_purchase_data['Purchase ID'].count()

#avg. purchase price
total_purchase = age_purchase_data['Price'].sum()
avg_price_age = total_purchase / purchase_count
avg_price_age

#avg. purchase total per person
age_person = age_purchase_data['SN'].count()

avg_purchase_age = total_purchase / age_person
avg_purchase_age

Age Range
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
dtype: float64

In [44]:
#unique count of sn
age_person_unique = age_purchase_data['SN'].nunique()
avg_purchase_pp_unique = total_purchase/age_person_unique

In [45]:
# Put it in a Dictionary 
age_analysis = {'count of purchases': purchase_count,'unique users': age_person, 'avg. purchase price': avg_purchase_age,'avg. purchase total per person': avg_purchase_pp_unique}

pd.DataFrame(age_analysis)

,count of purchases,unique users,avg. purchase price,avg. purchase total per person
Age Range,,,,
<10,23,23,3.353478,4.537059
10-14,28,28,2.956429,3.762727
15-19,136,136,3.035956,3.858785
20-24,365,365,3.052219,4.318062
25-29,101,101,2.900990,3.805195
30-34,73,73,2.931507,4.115385
35-39,41,41,3.601707,4.763548
40+,13,13,2.941538,3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [46]:
#Group data by Users 
group_users = purchase_data.groupby("SN")

In [47]:
grouped_by_sn_count = group_users.agg({'Price': ['count']})
grouped_by_sn_count.columns =["Total Purchases"]
grouped_by_sn_count.sort_values('Total Purchases', ascending=False).head()

             Total Purchases
SN
Lisosia93                  5
Iral74                     4
Idastidru52                4
Asur53                     3
Inguron55                  3

In [48]:
grouped_by_sn_sum = group_users.agg({'Price': ['sum']})
grouped_by_sn_sum.columns =["Total Purchase Price"]
grouped_by_sn_sum.sort_values('Total Purchase Price', ascending=False).head()

             Total Purchase Price
SN
Lisosia93                   18.96
Idastidru52                 15.45
Chamjask73                  13.83
Iral74                      13.62
Iskadarya95                 13.10

In [49]:
# Join Data via Merging
merge_table = pd.merge(grouped_by_sn_sum, grouped_by_sn_count, on="SN")
merge_table.sort_values('Total Purchase Price', ascending=False)

               Total Purchase Price  Total Purchases
SN
Lisosia93                     18.96                5
Idastidru52                   15.45                4
Chamjask73                    13.83                3
Iral74                        13.62                4
Iskadarya95                   13.10                3
Ilarin91                      12.70                3
Ialallo29                     11.84                3
Tyidaim51                     11.83                3
Lassilsala30                  11.51                3
Chadolyla44                   11.46                3
Iri67                         11.37                3
Inguron55                     11.11                3
Siallylis44                   10.37                3
Saistyphos30                  10.33                3
Phyali88                      10.30                3
Strithenu87                   10.18                3
Lisim78                       10.02                3
Haillyrgue51                   9.50                3
Phistym51                      9.50                2
Lamil79                        9.29                2
Aina42                         9.22                3
Saesrideu94                    9.18                2
Arin32                         9.09                2
Rarallo90                      9.05                3
Baelollodeu94                  9.03                2
Aelin32                        8.98                3
Lisopela58                     8.86                3
Saedaiphos46                   8.83                3
Reunasu60                      8.82                2
Chanastnya43                   8.82                3
...                             ...              ...
Lirtim36                       1.33                1
Shidai42                       1.33                1
Philodil43                     1.29                1
Eyista89                       1.29                1
Mindilsa60                     1.28                1
Tyarithn67                     1.14                1
Aisur51                        1.14                1
Ilista82                       1.14                1
Jiskimsda56                    1.14                1
Aillyriadru65                  1.10                1
Eryon48                        1.10                1
Iduelis31                      1.10                1
Yasur85                        1.10                1
Undjask33                      1.10                1
Lirtassa52                     1.09                1
Aelidru27                      1.09                1
Yalaeria91                     1.06                1
Aesurstilis64                  1.03                1
Saida58                        1.03                1
Euthe35                        1.03                1
Hala31                         1.02                1
Qilalista41                    1.02                1
Frichjaskan98                  1.02                1
Isurria36                      1.02                1
Eudanu84                       1.02                1
Ililsasya43                    1.02                1
Irilis75                       1.02                1
Aidai61                        1.01                1
Chanirra79                     1.01                1
Alo38                          1.00                1

[576 rows x 2 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [50]:
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20-24
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35-39
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67,20-24
8,8,Undjask33,22,Male,21,Souleater,1.10,20-24
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,35-39
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74,20-24
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67,20-24
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18,20-24
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70,20-24
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86,35-39
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89,20-24
16,16,Lisirra25,20,Male,40,Second Chance,2.52,20-24
17,17,Zontibe81,21,Male,161,Devine,1.76,20-24
18,18,Reunasu60,22,Female,82,Nirvana,4.90,20-24
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64,30-34
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60,20-24
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48,20-24
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,35-39
23,23,Eyrian71,40,Male,151,Severance,3.40,40+
24,24,Siala43,30,Male,141,Persuasion,3.19,30-34
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,25-29
26,26,Lirtossa84,11,Male,71,Demise,1.61,10-14
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,<10
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32,20-24
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16,20-24
...,...,...,...,...,...,...,...,...
750,750,Iljask75,22,Male,167,"Malice, Legacy of the Queen",3.61,20-24
751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36,10-14
752,752,Mindjasksya61,17,Male,112,Worldbreaker,2.60,15-19
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,35-39
754,754,Pheosurllorin41,23,Female,79,"Alpha, Oath of Zeal",4.05,20-24
755,755,Raesty92,12,Male,76,Haunted Bronzed Bludgeon,3.15,10-14
756,756,Ilast79,20,Male,73,Ritual Mace,2.05,20-24
757,757,Eratiel90,18,Male,57,"Despair, Favor of Due Diligence",4.60,15-19
758,758,Iral74,21,Male,182,Toothpick,4.03,20-24
759,759,Tyaelorap29,25,Male,72,Winter's Bite,3.77,25-29
760,760,Aithelis62,21,Male,44,Bonecarvin Battle Axe,2.38,20-24
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70,40+
762,762,Asur53,26,Male,110,Suspension,1.44,25-29
763,763,Lassilsala30,21,Male,85,Malificent Bag,1.75,20-24
764,764,Saedaiphos46,18,Male,113,Solitude's Reaver,4.07,15-19
765,765,Irith83,18,Male,130,Alpha,2.07,15-19
766,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14,20-24
767,767,Ilmol66,8,Female,92,Final Critic,4.88,<10
768,768,Assassasta79,38,Male,92,Final Critic,4.88,35-39
769,769,Ilosian36,15,Male,145,Fiery Glass Crusader,4.58,15-19
770,770,Lirtosia63,34,Male,12,Dawne,1.02,30-34
771,771,Iskossasda43,16,Male,25,Hero Cane,4.35,15-19
772,772,Asur53,26,Male,136,Ghastly Adamantite Protector,3.58,25-29
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02,20-24
774,774,Jiskjask80,11,Male,101,Final Critic,4.19,10-14
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,101,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [51]:
groupby_items = purchase_data.groupby(['Item ID','Item Name', 'Price']).agg({'Price': ['count','sum']})

In [54]:
groupby_items.columns = ['Purchase Count','Total Price']

In [55]:
groupby_items_final = groupby_items_sorted_by_count = groupby_items.sort_values('Purchase Count', ascending=False)
groupby_items_final

,,,Purchase Count,Total Price
Item ID,Item Name,Price,,
178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,12,50.76
145,Fiery Glass Crusader,4.58,9,41.22
108,"Extraction, Quickblade Of Trembling Hands",3.53,9,31.77
82,Nirvana,4.90,9,44.10
19,"Pursuit, Cudgel of Necromancy",1.02,8,8.16
103,Singed Scalpel,4.35,8,34.80
75,Brutality Ivory Warmace,2.42,8,19.36
72,Winter's Bite,3.77,8,30.16
60,Wolf,3.54,8,28.32
59,"Lightning, Etcher of the King",4.23,8,33.84
37,"Shadow Strike, Glory of Ending Hope",3.16,8,25.28
34,Retribution Axe,2.22,8,17.76
92,Final Critic,4.88,8,39.04
53,Vengeance Cleaver,2.05,7,14.35
110,Suspension,1.44,7,10.08
7,"Thorn, Satchel of Dark Souls",1.33,7,9.31
71,Demise,1.61,7,11.27
117,"Heartstriker, Legacy of the Light",1.79,7,12.53
159,"Oathbreaker, Spellblade of Trials",3.08,7,21.56
85,Malificent Bag,1.75,7,12.25
164,Exiled Doomblade,1.63,7,11.41
141,Persuasion,3.19,7,22.33
78,"Glimmer, Ender of the Moon",4.40,7,30.80
102,Avenger,3.44,6,20.64
129,"Fate, Vengeance of Eternal Justice",1.54,6,9.24
93,Apocalyptic Battlescythe,1.97,6,11.82
54,Eternal Cleaver,2.50,6,15.00
3,Phantomlight,2.49,6,14.94
2,Verdict,2.48,6,14.88
40,Second Chance,2.52,6,15.12
...,...,...,...,...
81,Dreamkiss,3.61,2,7.22
6,Rusty Skull,3.70,2,7.40
18,"Torchlight, Bond of Storms",4.65,2,9.30
26,Unholy Wand,1.12,2,2.24
28,"Flux, Destroyer of Due Diligence",1.06,2,2.12
30,Stormcaller,2.21,2,4.42
158,"Darkheart, Butcher of the Champion",2.45,2,4.90
69,"Frenzy, Defender of the Harvest",1.98,2,3.96
132,Persuasion,3.33,2,6.66
63,Stormfury Mace,4.99,2,9.98
56,Foul Titanium Battle Axe,2.92,2,5.84
127,"Heartseeker, Reaver of Souls",3.92,2,7.84
48,"Rage, Legacy of the Lone Victor",2.48,2,4.96
125,Whistling Mithril Warblade,1.00,2,2.00
43,Foul Edge,3.54,2,7.08
115,Spectral Diamond Doomblade,2.04,2,4.08
33,Curved Axe,1.16,2,2.32
31,Trickster,1.55,2,3.10
118,"Ghost Reaver, Longsword of Magic",2.17,1,2.17
47,"Alpha, Reach of Ending Hope",3.58,1,3.58
42,The Decapitator,1.75,1,1.75
27,"Riddle, Tribute of Ended Dreams",3.30,1,3.30
126,Exiled Mithril Longsword,2.00,1,2.00
51,Endbringer,4.66,1,4.66
90,Betrayer,2.94,1,2.94
104,Gladiator's Glaive,1.93,1,1.93
23,Crucifer,1.99,1,1.99
180,Stormcaller,3.36,1,3.36
91,Celeste,4.17,1,4.17
134,Undead Crusader,4.50,1,4.50

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [56]:
groupby_items_sum = groupby_items.sort_values('Total Price', ascending=False)

In [57]:
groupby_items_sum.head(5)

,,,Purchase Count,Total Price
Item ID,Item Name,Price,,
178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,12,50.76
82,Nirvana,4.90,9,44.10
145,Fiery Glass Crusader,4.58,9,41.22
92,Final Critic,4.88,8,39.04
103,Singed Scalpel,4.35,8,34.80